<aside id="left-col" class="uk-light uk-visible@m">
	<div class="left-logo uk-flex uk-flex-middle uk-flex-center">
		<a href="{{ path("back_home", {"space": compass.getUserBackoffice(app.user)}) }}">
			<img class="custom-logo" src="{{ asset("images/icone.png") }}" alt="">
		</a>
	</div>
	<div class="left-content-box content-box-dark">
		<img
				{% if app.user and app.user.avatar is null %}
					src="https://eu.ui-avatars.com/api/?background=random&name={{ app.user.firstname ~ " " ~ app.user.name | url_encode }}"
				{% else %}
					{{ asset(app.user.avatar) }}
				{% endif %}
				alt="" class="uk-border-circle profile-img">
		<h4 class="uk-text-center uk-margin-remove-vertical text-light">{{ app.user.firstname ~ " " ~ app.user.name }}</h4>
		
		<div class="uk-position-relative uk-text-center uk-display-block">
			<a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center" data-uk-icon="triangle-down">Enseignant</a>
			<!-- user dropdown -->
			<div class="uk-dropdown user-drop"
			     data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
				<ul class="uk-nav uk-dropdown-nav uk-text-left">
					<li><a href="#"><span data-uk-icon="user"></span> Mon profil</a></li>
					<li><a href="#"><span data-uk-icon="cog"></span> Mes paramètres</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="{{ path("front_home") }}"><span data-uk-icon="arrow-left"></span> Retour au site</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="{{ path("security_logout") }}"><span data-uk-icon="sign-out"></span> Se déconnecter</a></li>
				</ul>
			</div>
			<!-- /user dropdown -->
		</div>
	</div>
	
	<div class="left-nav-wrap">
		<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
			<li class="uk-nav-header">Classmate Enseignant<br><span data-uk-icon="users" class="uk-margin-small-right"></span>Classe de CM2 A</li>
			<li>
				<a href="{{ path('back_home', { 'space': compass.getUserBackoffice(app.user) }) }}"
			       class="{{ app.request.attributes.get( '_route' ) is same as "back_home" ? "uk-active" }}">
					<span data-uk-icon="home" class="uk-margin-small-right"></span>Accueil
				</a>
			</li>
			<li><a href="#"><span data-uk-icon="users" class="uk-margin-small-right"></span>Élèves</a></li>
			<li><a href="#"><span data-uk-icon="thumbnails" class="uk-margin-small-right"></span>Emploi du temps</a></li>
			<li><a href="#"><span data-uk-icon="copy" class="uk-margin-small-right"></span>Cahier-journal</a></li>
			<li class="uk-parent"><a href="#"><span data-uk-icon="comments" class="uk-margin-small-right"></span>Communication</a>
				<ul class="uk-nav-sub">
					<li><a title="" href="#">Carnet de liaison</a></li>
					<li><a title="" href="#">Sondages</a></li>
				</ul>
			</li>
			<li><a href="#"><span data-uk-icon="pencil" class="uk-margin-small-right"></span>Évaluations</a></li>
			<li><a href="#"><span data-uk-icon="file-edit" class="uk-margin-small-right"></span>Bulletins</a></li>
			<li class="uk-parent"><a href="#"><span data-uk-icon="thumbnails" class="uk-margin-small-right"></span>Applications</a>
				<ul class="uk-nav-sub">
					<li><a title="Article" href="https://zzseba78.github.io/Kick-Off/article.html">Article</a></li>
					<li><a title="Album" href="https://zzseba78.github.io/Kick-Off/album.html">Album</a></li>
					<li><a title="Cover" href="https://zzseba78.github.io/Kick-Off/cover.html">Cover</a></li>
					<li><a title="Cards" href="https://zzseba78.github.io/Kick-Off/cards.html">Cards</a></li>
					<li><a title="News Blog" href="https://zzseba78.github.io/Kick-Off/newsBlog.html">News Blog</a></li>
					<li><a title="Price" href="https://zzseba78.github.io/Kick-Off/price.html">Price</a></li>
					<li><a title="Login" href="https://zzseba78.github.io/Kick-Off/login.html">Login</a></li>
					<li><a title="Login-Dark" href="https://zzseba78.github.io/Kick-Off/login-dark.html">Login - Dark</a></li>
				</ul>
			</li>
			<li><a href="#"><span data-uk-icon="lifesaver" class="uk-margin-small-right"></span>Aide</a></li>
		</ul>
		{# <div class="left-content-box uk-margin-top">
			
			<h5>Daily Reports</h5>
			<div>
				<span class="uk-text-small">Traffic <small>(+50)</small></span>
				<progress class="uk-progress" value="50" max="100"></progress>
			</div>
			<div>
				<span class="uk-text-small">Income <small>(+78)</small></span>
				<progress class="uk-progress success" value="78" max="100"></progress>
			</div>
			<div>
				<span class="uk-text-small">Feedback <small>(-12)</small></span>
				<progress class="uk-progress warning" value="12" max="100"></progress>
			</div>
		
		</div> #}
	
	</div>
	<div class="bar-bottom">
		<ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
			<li>
				<a href="{{ path("back_home", {"space": compass.getUserBackoffice(app.user)}) }}" class="uk-icon-link" data-uk-icon="home"
				   title="Accueil" data-uk-tooltip></a>
			</li>
			<li>
				<a href="#" class="uk-icon-link" data-uk-icon="cog" title="Mes paramètres" data-uk-tooltip></a>
			</li>
			<li>
				<a href="{{ path("security_logout") }}" class="uk-icon-link" data-uk-tooltip="Se déconnecter" data-uk-icon="sign-out"></a>
			</li>
		</ul>
	</div>
</aside>

<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
		<button class="uk-offcanvas-close uk-close" type="button" data-uk-close></button>
		<ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
			<li class="uk-nav-header">Classmate</li>
			<li class="{{ app.request.attributes.get( '_route' ) is same as "front_home" ? "uk-active" }}">
				<a href="{{ path("front_home") }}"><i class="uk-margin-small-right icofont-home"></i> Accueil</a>
			</li>
			<li class="uk-parent">
				<a href="javascript:void(0)"><i class="uk-margin-small-right icofont-compass-alt"></i> Découvrir Classmate</a>
				<ul class="uk-nav-sub">
					<li><a href="#">À propos de Classmate</a></li>
					<li><a href="">Fonctionnalités en détail</a></li>
					<li><a href="">Gamme tarifaire</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a href="javascript:void(0)"><i class="uk-margin-small-right icofont-learn"></i> Applications</a>
				<ul class="uk-nav-sub">
					<li><a href="#">GéoBrevet</a></li>
					<li><a href="">Créez votre application</a></li>
				</ul>
			</li>
			<li><a href=""><i class="uk-margin-small-right icofont-pen-alt-1"></i> Blog</a></li>
			<li><a href=""><i class="uk-margin-small-right icofont-confounded"></i> Assistance</a></li>
			<li><a href=""><i class="uk-margin-small-right icofont-at"></i> Contact</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href="{{ path('security_login') }}"><i class="uk-margin-small-right icofont-login"></i> Se connecter</a></li>
		</ul>
	</div>
</div>