<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title 'Classmate' %} | Classmate</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link rel="icon" href="{{ asset('images/icone.png') }}">
	{% endblock %}
</head>
<body>
<div class="site-pusher">
	<div class="page">
		<div class="menu">
			{{ include('menu.html.twig') }}
		</div>
		<div class="content">
			{% block body %}
			{% endblock %}
		</div>
		<div class="footer">
			<div>
				<div class="footer-title">À propos de Classmate</div>
				<p>
					Classmate est un logiciel web d'aide aux enseignants. Il propose de nombreux outils tels que l'élaboration d'emploi du
					temps, la rédaction du cahier-journal, la gestion du cahier de textes, la prise de rendez-vous entre parents et enseignants.
				</p>
				<p>
					Classmate est actuellement en version {{ version.getCurrentVersionNumber }}.
				</p>
				<p>
					&copy; 2020 Nicolas TOURRETTE. Tous droits réservés.
				</p>
			</div>
			<div>
				<div class="footer-title">Dernières nouvelles</div>
				...
			</div>
			<div>
				<div class="footer-title">Nous contacter</div>
				<ul>
					<li><a href=""><i class="icofont-at"></i> Par e-mail</a></li>
					<li><a href=""><i class="icofont-info-square"></i> À propos de Classmate</a></li>
					<li><a href=""><i class="icofont-finger-print"></i> Politique de confidentialité</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script src="{{ asset('js/responsive.js') }}"
{% endblock %}
</body>
</html>
