<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title 'Espace personnel' %} | Classmate</title>
	<link rel="icon" href="{{ asset('images/icone.png') }}">
	{% block stylesheets %}
		{{ encore_entry_link_tags('back_app') }}
	{% endblock %}
</head>
<body>
{% include("back/" ~ compass.getUserBackoffice(app.user) ~ "/header.html.twig") %}
{% include("back/" ~ compass.getUserBackoffice(app.user) ~ "/menu.html.twig") %}

<div id="content" data-uk-height-viewport="expand: true">
	<div class="uk-container uk-container-expand">
		
		{% for flashMessage in app.session.flashbag.get('403') %}
			<div class="uk-alert-danger" uk-alert>
				<a class="uk-alert-close" uk-close></a>
				<p>{{ flashMessage }}</p>
				<p><i>Erreur 403 : accès interdit à la ressource. Vous avez été redirigé automatiquement dans votre espace.</i></p>
			</div>
		{% endfor %}
		
		{% block body %}
		{% endblock %}
		
		<footer class="uk-section uk-section-small uk-text-center">
			<hr>
			<p class="uk-text-small uk-text-center">
				&copy; {{ "now" | date("Y") }} Nicolas TOURRETTE. Tous droits réservés.<br>
				Panel {{ panel }} v{{ version.getBackofficeVersionNumber(compass.getUserBackoffice(app.user)) }}
				et Classmate v{{ version.currentVersionNumber }}
			</p>
		</footer>
	</div>
</div>

{% block javascripts %}
	{{ encore_entry_script_tags('back_app') }}
	<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
{% endblock %}
</body>
</html>